<html>

<head>
  <link rel="stylesheet" href='css/guestBook.css'>
  <script src='scripts/addComment.js'></script>
  <title>Guest Book</title>
</head>

<body>
  <div class=" page-wrapper">
    <h1><a href="index.html">&lt;&lt;</a>Guest Book</h1>
    <div class="logout"><a href="/logout">Logout</a></div>
    <h2>Leave a comment</h2>
    <div class="form">
      <form>
        <label for="name"> Name
          <input type="text" name="name" id="name" />
        </label>
        <label for="comment"> Comment
          <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </label>
        <input type="button" onclick="addComment()" id="submit-button" value="submit" />
      </form>
    </div>

    <div class="comments">
      <table>
        <tr id="heading">
          <th>Date</th>
          <th>Name</th>
          <th>Comment</th>
        </tr>
        _COMMENTS-LIST_
      </table>
    </div>
  </div>
</body>

</html>